*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 80%;
    margin: 0 auto;
}


.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box{
    width: 30%;
    height: 20vh;
    border: 2px solid green;
    border-radius: 10px;
    margin: 10px 0;
}