*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


form {
    width: 500px;
    margin: 30px;
    padding:50px 30px;
    border-radius: 40px 0;
    box-shadow: 0px 0px 5px black;
    background-color: rgb(233, 233, 233);
}

/* input{
   width: 100%;
   border-radius: 5px;
   padding: 5px 10px;
   border: 1px solid rgb(7, 77, 77);
    outline: none;
} */
label{
   font-weight: 700;
   color: rgb(55, 52, 52);
   font-family: Arial, Helvetica, sans-serif;
}
button{
    width: 30%;
    color: white;
    padding: 13px;
    border: none;
    font-size: 18px;
    justify-content: center;
    border-radius: 5px;
    background-color: rgb(179, 72, 0);
}

.a{
    margin: 30px ;
    padding: 20px;
}


input{
    font-size: 18px;
    padding: 5px;
    width: 90%;
    border: none;
    outline: none;
    background-color: transparent;
}
.b{ 
     background-color: #fff;
     width: 100%;
     margin: 10px 0 30px 0;
     padding: 5px;
     border-radius: 5px;
     display: inline-block;
     box-shadow: 0px 0px 6px black;
}


