*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calc {
    width: 30%;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: antiquewhite;
    padding: 10px;
}
input{
    width: 100%;
    padding: 5px ;
}
.body{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
button{
    width: 30%;
    margin: 2px 0;
}
.amal button:nth-last-child(1){
    background-color: purple;
    color: white;
    border: none;
    width: 70%;
}

